@import url('https://fonts.googleapis.com/css?family=Lato:900');

@import 'thirdparty/normalize';

@import 'settings/variables';
@import 'settings/mixins';
@import 'settings/typography';
@import 'settings/helpers';

@import 'components/form';
@import 'components/scoreboard';
@import 'components/guess-list';


@font-face {
    font-family: 'Netto Pro';
    src: url('../font/NettoPro-Bold.woff2') format('woff2'),
        url('../font/NettoPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Regular.woff2') format('woff2'),
        url('../font/Inter-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



html {
	height: 100%;
	color: white;
}

body {
	background: #dbccee;
	padding: 0;
	margin: 0;
	font-family: "Inter", Arial !important;
}

.container {
	box-sizing: border-box;
	margin: 30px auto;
	max-width: 930px;
}

.logo-container {
	text-align: center;
}

#clear {
	color: rgba(white, .5);
	position: absolute;
	left: 10px;
	top: 10px;
	background: transparent;
	border: none;
}

// Header
// -------------------------------
.header {
	text-align: center;
	padding: 40px 0;
	position: relative;

	width: 100%;


	&::before {
		content: '';
		display: block;
	    width: 1200px;
	    height: 400px;

	    border-radius: 100%;

	    position: absolute;
	    top: -240px;
	    left: 50%;

		transform: translateX(-50%);
		background: #4b00a9;
	}

	img {
		position: relative;
	}
}



// Generic layout
// -------------------------------
.container {
}


// Typography
// -------------------------------
.title {
	font-family: 'Netto Pro';
	color: #4b00a9;
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

// Table components
// -------------------------------
.answer-table .answer>div {
	background: #4b02a9;
	text-shadow: none;
}

.answer-table .answer {
	background: none;
    border-color: transparent;
}

.crosses .show {
	margin: 20px 10px;
}

.answer__number {
	text-align: center;
	background: #4b02a9;
}

.answer-table .answer__number {
	text-align: center;
}

.crosses {
	text-align: center;
}


// Buttons
// -------------------------------

.reset-button#clear {
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 0.4;
	color: #4b00a9;
}

.button {
	background: #ffc700;
	box-shadow: none;
	text-shadow: none;
}

.guess-list li,
.guess-form .textfield {
	box-shadow: none;
}

.guess-form .textfield {
	background: #fff;
	color: #000;
	text-shadow: none; 
}

.guess-form {
	border: 0;
}